In [150]:
dict1 = {'uang_budi':0,'uang_jajan':30000,'Ongkos':10000,'Uang_Kas':5000}

for i in range(7):
  print('Hari ke - ',i+1)
 

  for j in range(len(dict1)):
    if (j==0)and((i+1)!=3)and((i+1)!=7):
      print('Budi Pergi ke sekolah',end =' ')
      dict1['uang_budi'] = dict1['uang_budi']+dict1['uang_jajan']
      dict1['uang_budi'] = dict1['uang_budi']-dict1['Ongkos']-dict1['Uang_Kas'] 
    else:
      print('Budi Tidak Berangkat Sekolah')

Hari ke -  1
Budi Pergi ke sekolah Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah
Hari ke -  2
Budi Pergi ke sekolah Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah
Hari ke -  3
Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah
Hari ke -  4
Budi Pergi ke sekolah Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah
Hari ke -  5
Budi Pergi ke sekolah Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah
Hari ke -  6
Budi Pergi ke sekolah Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah
Hari ke -  7
Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah
Budi Tidak Berangkat Sekolah

In [20]:
bintang = 0

for i in range(7):
    print('*',end = ' ')
    bintang = bintang + 1
    
print('\n')
print('Total Bintang = ', bintang)

* * * * * * *

Total Bintang =  7

In [41]:
semangka = 0
apel = 0
anggur = 0

for i in range(5):
    print('Hari ke - ',i+1)
    print('saya telah membeli 1 semangka !')
    semangka = semangka+1
    apel = 3*semangka
    anggur = 2*apel
    
    print('jumlah semangka = ',semangka)
    print('jumlah apel = ',apel)
    print('jumlah anggur = ',anggur)
    print('\n')

Hari ke -  1
saya telah membeli 1 semangka !
jumlah semangka =  1
jumlah apel =  3
jumlah anggur =  6


Hari ke -  2
saya telah membeli 1 semangka !
jumlah semangka =  2
jumlah apel =  6
jumlah anggur =  12


Hari ke -  3
saya telah membeli 1 semangka !
jumlah semangka =  3
jumlah apel =  9
jumlah anggur =  18


Hari ke -  4
saya telah membeli 1 semangka !
jumlah semangka =  4
jumlah apel =  12
jumlah anggur =  24


Hari ke -  5
saya telah membeli 1 semangka !
jumlah semangka =  5
jumlah apel =  15
jumlah anggur =  30

In [45]:
kue = 100

for i in range(13):
    print('Hari ke - ',i+1)
    print('saya memakan 3 kue')
    kue = kue-3
    
    print('sisa kue = ',kue)
    print('\n')

Hari ke -  1
saya memakan 3 kue
sisa kue =  97


Hari ke -  2
saya memakan 3 kue
sisa kue =  94


Hari ke -  3
saya memakan 3 kue
sisa kue =  91


Hari ke -  4
saya memakan 3 kue
sisa kue =  88


Hari ke -  5
saya memakan 3 kue
sisa kue =  85


Hari ke -  6
saya memakan 3 kue
sisa kue =  82


Hari ke -  7
saya memakan 3 kue
sisa kue =  79


Hari ke -  8
saya memakan 3 kue
sisa kue =  76


Hari ke -  9
saya memakan 3 kue
sisa kue =  73


Hari ke -  10
saya memakan 3 kue
sisa kue =  70


Hari ke -  11
saya memakan 3 kue
sisa kue =  67


Hari ke -  12
saya memakan 3 kue
sisa kue =  64


Hari ke -  13
saya memakan 3 kue
sisa kue =  61

In [98]:
Kue = 100

for i in range(Kue>=51):
    print('hari ke - ',i+1)
    print('di makan 3')
    Kue = Kue-3
    
    print('sisa kue = ',Kue)

hari ke -  1
di makan 3
sisa kue =  97

In [97]:
kue = 100
hari = 0
kenyang = 0

while(kue >= 51):
    kue = kue - 1
    kenyang = kenyang +1
    
    if (kenyang==3):
        hari = hari + 1
        kenyang = 0
print('total hari = ',hari)

total hari =  16

In [129]:
peluru = 100
singa = 200
nembak = 0

while(peluru>21): #selama pelurunya diatas 21
    peluru  = peluru - 1
    nembak = nembak + 1
    
    if(nembak==4):
        singa = singa - 1 #singa mati
        nembak = 0
    
    
print('sisa singa = ',singa)
print('sisa peluru = ',peluru)
print('jumlah tembakan dari singa terakhir = ',nembak)

sisa singa =  181
sisa peluru =  21
jumlah tembakan dari singa terakhir =  3

In [158]:
peluru = 100
singa = 200
mati = 0

while(mati != 12):
    mati  = mati + 1
    singa = singa - 1
    peluru = peluru - 4
    
    
print('sisa singa = ',singa)
print('sisa peluru = ',peluru)

sisa singa =  188
sisa peluru =  52